.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}

.logoLink {
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    font-weight: bold;
    font-size: 4.2rem;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.5s ease-in-out;
}

.logoLink:hover {
    filter: brightness(80%);
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}
